.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: white;

  &_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: white;

    &_description {
      z-index: 1;
      width: 80vw;
      margin-left: 0;

      div{
        h1{
          font-size: 1.6rem !important;
        }
    
        h2{
          font-size: 2.3rem;
          margin-bottom: 20px;
        }
      }
    }

  }

  &_description {
    z-index: 1;
    width: 80vw;

    h1 {
      white-space: nowrap;
      font-size: 6rem;
      cursor: pointer;
      margin-bottom: 0;

      &:hover span {
        transition: all 0.1s;
        color: #FF9900;
      }
    }

    h3 {
      font-family: 'Roboto', sans-serif;
      font-size: 1.5rem;
    }

    b {
      color: #FF9900;
    }

    i {
      color: #FF9900;
      font-size: 1.7rem;
    }
  }

  &_form{
    z-index: 1;
    display: flex;
    flex-direction: column;

    label{
      font-size: 1.5rem;
      margin-bottom: 5px;
    }

    &_field{
      max-width: 250px;
      font-family: 'Roboto', sans-serif;
      font-size: 1rem;
      padding: 5px;
      margin-bottom: 10px;
      border: solid transparent 2px;
      background-color: rgba(228, 228, 228, 0.5);

      &::placeholder{
        color:black
      }

      &:focus{
        background-color: rgba(228, 228, 228, 0.8);
        border: solid #FF9900 2px;
      }

      
    &_message{
      resize: vertical;
      max-width: 60%;
    }
    }

    button{
      font-family: 'Oswald', sans-serif;
      font-size: 1.5rem;
      cursor: pointer;
      padding: 5px 50px;
      align-self: start;
      background-color: #101010;
      transition: all .2s;
      border: none;
      color: white;
      &:hover{
        background-color: #FF9900;
        color: #101010;
      }
    }

  }
}

.mail_icon {
  background-image: url("/static/icons/mail.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 20vh;
}

@media screen and (max-width: 1400px) {
  .contact {
    &_description {
      h1 {
        font-size: 5rem;
      }

      h3 {
        font-size: 1.3rem;
      }
    }
  }
}


@media screen and (max-width: 1200px) {
  .contact {
    &_description {
      h1 {
        font-size: 4rem;
      }
    }
      &_form_field_message{
        max-width: 100%;
      }

  }
}

@media screen and (max-width: 950px) {
  .contact {
    align-items: start;

    &_description {
      margin-left: 20px;

      h1 {
        font-size: 3rem;
      }

      h3 {
        font-size: 1.2rem;
      }

      i {
        color: #FF9900;
        font-size: 1.4rem;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .contact {
    &_description {
      h1 {
        font-size: 2rem;
      }
    }
  }
}